@using data_receiver.Models.ViewModels
@model  List<CustomerViewModel> ;

    





@*<div class="card bg-card text-white" style="min-height: 391px;">
    <div class="p-3">
          <div class="row d-flex mb-4">
            <div class="col-md-12">
                    <h3 class="text-white ">all customers</h3>
            </div>
           @* <div class="col-md-4 d-flex justify-content-end">
                 <a asp-controller="customer" asp-action="create" class="btn btn-primary btn-background"  >create customer</a>
            </div>*@
        @*</div>*@

        

@*
        <h3>all klanten</h3>
        <div class ="row d-flex no-margin  align-items-center " >
           @foreach(var customers in @Model )
            {
                    <div class="col-md-2 p-3 ">
                        <div class="card card-color"   >
                            <i class="fa-solid fa-user-group text-center mt-3 h2 "></i>
                            <div class="card-body text-center">
                            <h6 class="card-title">@customers.customer.Klant</h6>
                               <div class="flex-column d-flex">
                                <a asp-controller= "customer" asp-action="claimCustomer" asp-route-id = "@customers.customer.Debiteurnr" asp-route-customerType = "@customers.customer.CustomerType" class="text-muted text-decoration-none">claim</a>  
                                </div>
                            </div>
                        </div>      
                    </div>
            }
        </div>

      
    </div>*@
@*</div>*@


<div class="content">
    <div class="row">
    <div class="col-md-12">
        <h1>sea klanten</h1>
        <div class="card ">
            <div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
            </div>
            <div class="card-body">
            <div class="table-responsive">
                <table class="table tablesorter " id="">
                <thead class=" text-primary">
                    <tr>
                    <th>
                        klant
                    </th>
                    <th>
                        consultant
                    </th>
                    <th>
                        max budget
                    </th>
                     <th>
                        contact
                    </th>
                    <th>
                        laatste videocall
                    </th>
                    <th class="text-center">
                        claime user
                    </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var customers in @Model.Where(s => s.customer.CustomerType == "sea_klanten") )
            {
                 <tr>
                    <td>
                        @customers.customer.Klant
                    </td>
                    <td>
                        @customers.customer.Consultant
                    </td>
                    <td>
                        @customers.customer.Max_budget
                    </td>
                    <td >
                        @customers.customer.Contact
                    </td>
                     <td >
                        @customers.customer.Latest_videocall
                    </td>
                    <td class="text-center">
                        <a asp-controller= "customer" asp-action="claimCustomer" asp-route-id = "@customers.customer.Debiteurnr" asp-route-customerType = "@customers.customer.CustomerType" class="btn btn-primary p-1" >claim</a>  
                    </td>
                  </tr>
            }

                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h1>sma klanten</h1>
        <div class="card ">
            <div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                            <tr>
                    <th>
                        klant
                    </th>
                    <th>
                        consultant
                    </th>
                    <th>
                        max budget
                    </th>
                        <th >
                        contact
                    </th>
                    <th>
                        doelstelling
                    </th>
                    <th class="text-center">
                        claime user
                    </th>
                    </tr>
                    </thead>
                    <tbody>
                            @foreach(var customers in @Model.Where(s => s.customer.CustomerType == "sma_klanten") )
                            {
                                <tr>
                                    <td>
                                        @customers.customer.Klant
                                    </td>
                                    <td>
                                        @customers.customer.Consultant
                                    </td>
                                    <td>
                                        @customers.customer.Max_budget
                                    </td>
                                    <td >
                                        @customers.customer.Contact
                                    </td>
                                        <td>
                                        @customers.customer.Doelstelling
                                    </td>
                                        <td class="text-center">
                                        <a asp-controller= "customer" asp-action="claimCustomer" asp-route-id = "@customers.customer.Debiteurnr" asp-route-customerType = "@customers.customer.CustomerType" class="btn btn-primary p-1" >claim</a>  
                                    </td>
                                </tr>

                            }
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h1>seo klanten</h1>
        <div class="card ">
            <div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
            </div>
            <div class="card-body">
            <div class="table-responsive">
                <table class="table tablesorter " id="">
                <thead class=" text-primary">
                    <tr>
                        <th>
                            klant
                        </th>
                        <th>
                            consultant
                        </th>
                        <th>
                            max budget
                        </th>
                            <th>
                            contact
                        </th>
                        <th>
                            datum live
                        </th>
                        <th class="text-center">
                            claime user
                        </th>
                    </tr>
                </thead>
                <tbody>
                        @foreach(var customers in @Model.Where(s => s.customer.CustomerType == "seo_klanten") )
            {
                        <tr>
                        <td>
                            @customers.customer.Klant
                        </td>
                        <td>
                            @customers.customer.Consultant
                        </td>
                        <td>
                            @customers.customer.Max_budget
                        </td>
                        <td>
                            @customers.customer.Contact
                        </td>
                            <td >
                            @customers.customer.Datum_live
                        </td>
                        <td class="text-center">
                            <a asp-controller= "customer" asp-action="claimCustomer" asp-route-id = "@customers.customer.Debiteurnr" asp-route-customerType = "@customers.customer.CustomerType" class="btn btn-primary p-1" >claim</a>  
                        </td>

                        </tr>
            }
                    
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>            
    </div>
</div>
