@model List<customer>
    <style>
        .border-search{
            border-left:1px solid white;
        }
        .placeholder-search::placeholder{
            color:white;
            align-items:center;
        }
        .search-icon{
            color:white;
            background-color:black;
        }
        .user-circle{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
}
.no-margin{
    margin:0px!important;
}
.user-info{
    margin-left:8px;
}

.bg-card{
    background-color:#1F2843!important;
}   
/*.user-circle{
    background-color:#2F3447;
    color:gray;
}*/
</style>


<div class="container">
    <div class="flex">
        <a asp-controller="customer" asp-action="create"  >create customer</a>
    </div>
</div>

<div class="card bg-card" style="min-height: 391px;">
    <div class="row d-flex no-margin">
        <div class="col-md-8">
            <h3 class="text-white ">all customers</h3>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
              <div class="input-group-prepend " style="margin:auto" >
                <span class="input-group-text search-icon" style="line-height: 1.7;border:0; background-color:#1F2843!important;" >
                    <i class="fa fa-search "></i>
                </span>
              </div>
              <input type="text" class="form-control form-control-sm placeholder-search" placeholder="zoek naar gebruikers" style="line-height: 1.88; background: #1F2843!important;border: 0">
        </div>
    </div>
 
    <div class ="row d-flex no-margin" >
       @foreach(var customers in @Model)
        {
                <div class="col-md-4 p-2 ">
                    <div class="d-flex">
                        <div class="icon-div"  style="margin-top: auto;">
                        <i class="fa-solid fa-circle-user user-circle  "></i>
                        </div>
                        <div class="flex-sm-column d-flex user-info">
                            <span class="text-white" >@customers.firstname</span>
                            <span><a asp-controller= "customer" asp-action="claimCustomer" asp-route-id = "@customers.Id">claim</a></span>
                            <span><a asp-controller= "customer" asp-action="edit" asp-route-id = "@customers.Id">edit</a></span>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>

@*<h1>list with customers</h1>
@*create a new customer*@
@*<a asp-controller ="Customer" asp-action="Create">create new customer</a>

    <table class="table text-white">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">firstname</th>
      <th scope="col">lastname</th>
      <th scope="col">adress</th>
      <th scope="col">phonenumber</th>
      <th scope="col">edit</th>
      <th scope="col">claim this user</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var customers in @Model)
{
    <tr>
      
      <td>@customers.Id</td>
      <td>@customers.firstname</td>
      <td>@customers.lastname</td>
      <td>@customers.adress</td>
      <td>@customers.phonenumber</td>
      <td><a asp-controller= "customer" asp-action="edit" asp-route-id = "@customers.Id">edit</a></td>
      <td><a asp-controller= "customer" asp-action="claimCustomer" asp-route-id = "@customers.Id">claim</a></td>
    </tr>

}
  </tbody>
</table>*@

