@using System.Globalization
@using data_receiver.Models.ViewModels
@model UserCustomerActionViewModel

@{
    var month =  DateTime.Now.ToString("MMMM",new CultureInfo("en-GB"));
}
<div class="content">

    <div class="row">
    <h4 class="text-white col-md-6">customer</h4>
    <h4 style="text-align:end;" class="col-md-6 text-white">triggers</h4>
    </div>



    <div class="row text-white ">
        <div class="col-md-6 d-flex ">

                <div class="form-group">

                     <div class="form-group">
                        <label  class="control-label">klant</label>
                        <input disabled value="@Model.customer.Klant" class="form-control"  />
                    </div>
                 <div class="form-group">
                        <label  class="control-label">debiteurnr</label>
                        <input disabled value="@Model.customer.Debiteurnr" class="form-control"  />
                    </div>
                    <div class="form-group">
                        <label  class="control-label">cms</label>
                        <input disabled value="@Model.customer.CMS" class="form-control" />
                    </div>
                     <div class="form-group">
                        <label class="control-label">sConsultant</label>
                        <input disabled value="@Model.customer.Consultant" class="form-control" />
                    </div>
                     <div class="form-group">
                        <label  class="control-label">Contact</label>
                        <input disabled value="@Model.customer.Contact" class="form-control" />
                    </div>
                     <div class="form-group">
                        <label class="control-label">contract</label>
                        <input disabled  value="@Model.customer.Contract" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Datum_live</label>
                        <input disabled value="@Model.customer.Datum_live" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">latest videocall</label>
                        <input disabled value="@Model.customer.Latest_videocall" class="form-control" />
                    </div>
                     <div class="form-group">
                        <label  class="control-label">Max budget</label>
                        <input disabled  value="@Model.customer.Max_budget" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label  class="control-label">Resultaat</label>
                        <input disabled value="@Model.customer.Resultaat" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label  class="control-label">last contact</label>
                        <input disabled value="@Model.customer.Latest_contact" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label  class="control-label">doelstelling</label>
                        <input disabled value="@Model.customer.Doelstelling" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label  class="control-label ">remarks</label>
                        <input disabled value="@Model.customer.Remarks" class="form-control " />
                    </div>
                     <div class="form-group">
                        <label  class="control-label ">status</label>
                        <input disabled value="@Model.customer.status" class="form-control " />
                    </div>
                </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
           <div class="border w-100">
                @foreach(var action in @Model.action)
                {

                        if(action.id == 1 && @Model.customer.Max_budget != "n.v.t" )
                        {
                            <div class="border p-3">
                            <p>For example: email will be send on 4th of @month</p>
                            <form method="post" asp-action="EditPost" asp-controller="UserCustomer">
                                <input name="value" type="number" min=1  max=31 class="form-control"   placeholder="4" >
                                <input hidden name="actionId" value="@action.id" >
                                <input hidden name="klant" value="@Model.customer.Klant" >
                                <input hidden name="usercustomerId" value="@Model.usercustomerId"   >
                                <input hidden name="CustomerType" value="@Model.customer.CustomerType"   >
                                <input type="submit" class="mt-2" >
                            </form>
                        </div>
                        }
                        if(action.id == 2  && @Model.customer.CustomerType == "sea_klanten" && @Model.customer.Latest_videocall != "n.v.t" && @Model.customer.Latest_videocall != "n.v.t.")
                        {
                            <div class="border p-3">
                            <p>@action.description</p>
                            <form method="post" asp-action="EditPost" asp-controller="UserCustomer">
                                <input name="value" type="number" min=1 max=12 class="form-control"   placeholder="3 months" >
                                <input hidden name="actionId" value="@action.id" >
                                <input hidden name="customerType" value="@Model.customer.CustomerType" >
                                <input hidden name="usercustomerId" value="@Model.usercustomerId"   >
                                <input hidden name="klant" value="@Model.customer.Klant" >
                                <input type="submit" class="mt-2" >
                            </form>
                            </div>
                        }
                         if(action.id == 3 && @Model.customer.CustomerType == "sea_klanten" && @Model.customer.Latest_contact != "n.v.t" && @Model.customer.Latest_contact != "on hold")
                        {
                            <div class="border p-3">
                            <p>@action.description</p>
                            <form method="post" asp-action="EditPost" asp-controller="UserCustomer">
                                <input name="value" type="number" min=1 max=12 class="form-control"   placeholder="3 months after last contact" >
                                <input hidden name="actionId" value="@action.id" >
                                <input hidden name="klant" value="@Model.customer.Klant" >
                                <input hidden name="customerType" value="@Model.customer.CustomerType" >
                                <input hidden name="usercustomerId" value="@Model.usercustomerId"   >
                                <input type="submit" class="mt-2" >
                            </form>
                            </div>
                        }


                }


           
                @if (@Model.customer.CustomerType == "sea_klanten" && @Model.customer.Max_budget != "n.v.t")
                {
                    <h3>Current budget mail</h3>
                    <div class="d-flex row ">

                        @foreach (var myactions in @Model.UserCustomerAction)
                        {
                            if (myactions.action.id == 1)
                            {
                                <p class="col-md-12" >Mail will be send on @month @myactions.value </p>
                            }
                        }
                    </div>
                }


                @if( @Model.customer.CustomerType == "sea_klanten" && @Model.customer.Latest_videocall != "n.v.t" && @Model.customer.Latest_videocall != "n.v.t.")
                {
                    <h3>last video call</h3>
                    <div class=" d-flex row ">
                        @foreach (var myactions in @Model.UserCustomerAction )
                        {
                            if (myactions.action.id == 2 )
                            {
                                <p class="col-md-12 no-margin" >
                                Email will be send @myactions.value month(s) after last video call
                                </p>
                            }
                        }
                    </div>
                }
               


                @if(@Model.customer.CustomerType == "sea_klanten" && @Model.customer.Latest_contact != "n.v.t" && @Model.customer.Latest_contact != "on hold")
                {
                      <h3>last contact</h3>
                    <div class=" d-flex row ">
                          
                        @foreach (var myactions in @Model.UserCustomerAction)
                        {
                            if (myactions.action.id == 3)
                            {
                                <p class="col-md-12" >Email will be send @myactions.value month(s) after last video call </p>
                            }
                        }
                    </div>
                }
            </div> 
        </div>
    </div>


    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
