@using data_receiver.Models.ViewModels
@model List<UserCustomerActionViewModel>


@{
    var customerHasVideoCall = true;
}

<div class="row">
<h4 class="text-white col-md-6">customer</h4>
<h4 style="text-align:end;" class="col-md-6 text-white">triggers</h4>
</div>


@foreach(var list in @Model)
{
    if(@list.live_clients.Latest_videocall == "Geen behoefte aan bij de klant.")
    {
        customerHasVideoCall = false;
    }
    <div class="row text-white ">
    <div class="col-md-6 d-flex ">

            <div class="form-group">
                
             <div class="form-group">
                    <label  class="control-label">debiteurnr</label>
                    <input disabled value="@list.live_clients.Debiteurnr" class="form-control"  />
                </div>
                <div class="form-group">
                    <label  class="control-label">cms</label>
                    <input disabled value="@list.live_clients.CMS" class="form-control" />
                </div>
                 <div class="form-group">
                    <label class="control-label">sConsultant</label>
                    <input disabled value="@list.live_clients.Consultant" class="form-control" />
                </div>
                 <div class="form-group">
                    <label  class="control-label">Contact</label>
                    <input disabled value="@list.live_clients.Contact" class="form-control" />
                </div>
                 <div class="form-group">
                    <label class="control-label">contract</label>
                    <input disabled  value="@list.live_clients.Contract" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Datum_live</label>
                    <input disabled value="@list.live_clients.Datum_live" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">latest videocall</label>
                    <input disabled value="@list.live_clients.Latest_videocall" class="form-control" />
                </div>
                 <div class="form-group">
                    <label  class="control-label">Max budget</label>
                    <input disabled  value="@list.live_clients.Max_budget" class="form-control" />
                </div>
                <div class="form-group">
                    <label  class="control-label">Resultaat</label>
                    <input disabled value="@list.live_clients.Resultaat" class="form-control" />
                </div>
                <div class="form-group">
                    <label  class="control-label">last contact</label>
                    <input disabled value="@list.live_clients.Latest_contact" class="form-control" />
                </div>
                <div class="form-group">
                    <label  class="control-label">doelstelling</label>
                    <input disabled value="@list.live_clients.Doelstelling" class="form-control" />
                </div>
                <div class="form-group">
                    <label  class="control-label ">remarks</label>
                    <input disabled value="@list.live_clients.Remarks" class="form-control " />
                </div>
            </div>
          
    </div>
    <div class="col-md-6 d-flex justify-content-end">
       <div class="border w-100">
            @foreach(var action in @list.action)
            {

                    if(action.id == 1)
                    {
                        <div class="border p-3">
                        <p>@action.description</p>
                        <form method="post" asp-action="EditPost" asp-controller="UserCustomer">
                        
                            <input name="value" type="number" min=1 max=100 class="form-control"   placeholder="example 50%" >
                            <input hidden name="actionId" value="@action.id" >
                            <input hidden name="usercustomerId" value="@list.usercusotmerId"   >
                            <input type="submit" class="mt-2" >
                        </form>
                    </div>
                    }
                    if(action.id == 2 && customerHasVideoCall != false)
                    {
                        <div class="border p-3">
                        <p>@action.description</p>
                        <form method="post" asp-action="EditPost" asp-controller="UserCustomer">
                        
                            <input name="value" type="number" min=1 max=12 class="form-control"   placeholder="3 months" >
                            <input hidden name="actionId" value="@action.id" >
                            <input hidden name="usercustomerId" value="@list.usercusotmerId"   >
                            <input type="submit" class="mt-2" >
                        </form>
                        </div>
                    }

            }
            <h3>current page per month</h3>
            <div class="d-flex row">
                @foreach(var myactions in @list.UserCustomerAction)
                {
                        if(myactions.action.id == 1)
                        {
                            <p class="col-md-2" >@myactions.value %</p>
                        }
                }
            </div>

                @if (customerHasVideoCall == false)
                {

                }
                else
                {
                    <h3>last video call</h3>
                    <div class=" d-flex row">
                        @foreach(var myactions in @list.UserCustomerAction)
                        {
                            if(myactions.action.id == 2 )
                            {
                                <p class="col-md-2" >mail after @myactions.value months </p>
                            }
                        }
                    </div>   
                }
        </div>
        
    </div>
</div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
