@model IEnumerable<UserCustomer>

<style>
    table thead{
        color:white;
    }
     table tbody{
        color:white;
    }
    
    p{
        color:white!important;
    }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                contacts
            </th>
            <th>
                remove from company 
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer.company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
               <a asp-controller="UserCustomer" asp-action="mycontact" asp-route-id=@item.customerId  >my contact</a>
            </td>
             <td>
                 <form asp-action="removecustomer">
                     <input hidden type="text" name="customerId" value="@item.customerId" >
                     <button class=" btn-danger" type="submit">remove</button>
                 </form>
            </td>
        </tr>
}
    </tbody>
</table>
